@import "tailwindcss";

@theme {
  --font-display:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --color-bg: white;
  --color-main: black;
  --color-sub: #5e5e5e;
  --color-accent: #714fac;
}

p>a {
  color: var(--color-accent) !important;
  font-style: italic !important;
}

p.sub {
  @apply text-sm;
  color: var(--color-sub);
}

::view-transition-group(highlight) {
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}
