@import "tailwindcss";

@theme {
  --font-display:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --color-bg: white;
  --color-main: black;
  --color-sub: #6e6e6e;
  --color-accent: #714fac;
}

a {
  color: var(--color-accent) !important;
  font-style: italic !important;
}

p.sub {
  @apply text-sm;
  color: var(--color-sub);
}

video,
img {
  @apply w-full;
  @apply max-h-[500px];
  @apply object-contain;
  @apply object-left;
  @apply my-5;
}

video {
  aspect-ratio: 16 / 9;
  min-height: 500px;
  width: 100%;
}

.markdown-body::before,
.markdown-body::after {
  display: none !important;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 0 !important;
}
