---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <p class="!mb-24">Hæ, velkomin/n á <br />vefsíðuna mína</p>
  <div class="*:text-lg">
    <p>
      Ég heiti <span class="font-semibold"> Valur </span> og ég hef gaman að forritun
      og hugbúnaði, ég er að læra hugbúnaðarverkfræði í Háskóla Íslands og starfa
      þar líka sem aðstoðarkennari.
    </p>
    <p>
      Hægt er að sjá reynslu og menntun mína <a href="/details">hér</a>
    </p>
    <p>
      Mér finnst gaman að takast á við krefjandi verkefni og að læra nýjar
      hugmyndir og leiðir til að nálgast lausnir... WIP
    </p>
  </div>
</Layout>
