---
import Layout from "../layouts/Layout.astro";
import Entry from "../components/Entry.astro";

type MarkdownPost = {
  url: string;
  frontmatter: {
    title: string;
    desc: string;
    date: string;
  };
};

const posts = Object.values(
  import.meta.glob<MarkdownPost>("./posts/*.md", { eager: true }),
);
---

<Layout>
  <div class="markdown-body">
    <ul>
      {
        posts.map((post) => (
          <li>
            <Entry
              title={post.frontmatter.title}
              href={post.url}
              body={post.frontmatter.desc}
              date={post.frontmatter.date}
            />
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
