<footer class="mt-40">
  <p class="markdown-body grid grid-cols-6 *:min-w-fit" >
    <a href="https://github.com/valurkristinn">github</a>
    <a href="https://www.linkedin.com/in/valurkristinn/">linkedin</a>
    <a href="mailto:valur@valur.me" class=" col-span-2 col-start-5 text-right">valur@valur.me</a>
  </p>
</footer>
