<footer class="mt-40">
  <p class="flex justify-between markdown-body ">
    <a href="https://github.com/valurkristinn">github</a>
    <a href="https://www.linkedin.com/in/valurkristinn/" class="mr-[50%]">linkedin</a>
    <a href="mailto:valur@valur.me">valur@valur.me</a>
  </p>
</footer>
