---
const pathname = new URL(Astro.request.url).pathname;
const navItems = [
  { name: "Heim", href: "/" },
  { name: "Nánar um mig", href: "/details" },
  { name: "Verkefni", href: "/projects" },
  { name: "Tæki og tól", href: "/tools" },
  { name: "Færslur", href: "/posts" },
  { name: "Uppfærslusaga", href: "/changelog" },
];
var index = -1;
navItems.forEach((navItem, i) => {
  if (pathname.includes(navItem.href)) {
    index = i;
  }
});
const transformVal = `translateY(${index * 3.75}rem)`;
const displayVal = index < 0 ? "none" : "block";
---

<nav class="fixed left-5 top-[20vh] flex flex-col bg-bg">
  {
    navItems.map((i) => (
      <a
        href={i.href}
        transition:name={"a-" + i.href}
        class="z-10 text-lg text-bg no-underline py-4 px-[10px] ml-[50px] mr-[30px] mix-blend-difference"
      >
        {i.name}
      </a>
    ))
  }
  <div
    style={{ transform: transformVal, display: displayVal }}
    transition:name="highlight"
    class="bg-main w-full h-15 absolute top-0 z-0 pointer-events-none transition-transform duration-[400ms] ease-in-out"
  >
  </div>
</nav>

<script>
  function setupNav() {
    const nav = document.querySelector("nav")!;
    const div = nav?.querySelector("div")!;
    function handleMove(event: MouseEvent) {
      const val = event.clientY - nav.getBoundingClientRect().top;
      const percentage = val / nav.getBoundingClientRect().height;
      const offset =
        3.75 * Math.floor(percentage * (nav.childElementCount - 1));
      div.style.transform = `translateY(${offset}rem)`;
    }
    const originalVal = div.style.transform;
    nav.addEventListener("mousemove", handleMove);
    nav.addEventListener("mouseleave", () => {
      div.style.transform = originalVal;
    });
  }
  document.addEventListener("astro:page-load", setupNav);
</script>
